<h1>Hero Page</h1>
<hr>
<table class="table table-bordered">
    <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Descripción</th>
        <th>Nombre en mayúsculas</th>
    </tr>
    <tr>
        <td>{{name()}}</td>
        <td>{{age()}}</td>
        <td>{{heroDescription()}}</td>
        <td>{{name() | uppercase}}</td>
    </tr>
</table>

<button (click)="changeHero()" class="btn btn-primary mx-2">
    Cambiar hero
</button>

<button (click)="changeAge()" class="btn btn-primary">
    Cambiar edad
</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">
    Reset
</button>